body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #262626;
  min-height: 100vh;
  margin: 0;
}
#app {
  margin: 3rem;
}
.countdown {
  margin-bottom: 2.5rem;
}
.countdown:last-child {
  margin-bottom: 0;
}
.countdown h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 20px;
}
.countdown:first-child h2 {
  margin-bottom: 1rem;
}
p {
  color: #fff;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
input {
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  outline: none;
  border: none;
  text-align: center;
  height: 2rem;
  margin-bottom: 1rem;
}
span {
  color: #ffffff;
}
.counter {
  display: flex;
  width: 570px;
  margin: 0 auto;
  justify-content: center;
}
.counter div {
  position: relative;
  width: 50px;
  padding: 15px;
  margin: 0 5px;
  background-color: #262626;
  color: #fff;
  border: 2px solid #000;
}
.counter div:last-child {
  background-color: #e91e63;
}
.counter div:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .2);
}
.counter div span {
  display: block;
  text-align: center;
}
.counter div span:nth-child(1) {
  font-size: 32px;
  font-weight: 800;
}
.counter div span:nth-child(2) {
  font-size: 18px;
  font-weight: 800;
  margin-top: -10px;
}
